{% block content %}
<h2>Asignar Turno</h2>

<p>Solicitud: {{ solicitud }}</p>

{% if solicitud.turno %}
    <p>Este turno ya ha sido asignado.</p>
    <a href="{% url 'listado_solicitudes' %}" class="btn btn-secondary">Cancelar</a>
{% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" href="{% url 'listado_solicitudes' %}">Guardar Turno</button>
    </form>
    <a href="{% url 'listado_solicitudes' %}" class="btn btn-secondary">Cancelar</a>
{% endif %}

{% endblock %}