{% extends 'base.html' %}
{% load widget_tweaks %}

{% block navbar %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <h1 class="navbar-brand text-warning" href="#">keyServ</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Volver</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">Crear Solicitud</h2>
    <form method="post" class="bg-light p-4 rounded shadow-sm">
        {% csrf_token %}
        
        <!-- Renderizamos campos ocultos -->
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        
        <!-- Renderizamos campos visibles -->
        {% for field in form.visible_fields %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label text-dark">{{ field.label }}</label>
            {% if field.name == "fecha_servicio" %}
                <!-- Campo tipo date -->
                <input 
                    type="date" 
                    name="{{ field.name }}" 
                    id="{{ field.id_for_label }}" 
                    class="form-control" 
                    value="{{ field.value|default_if_none:'' }}" />
            {% else %}
                <!-- Otros campos -->
                {{ field|add_class:"form-control" }}
            {% endif %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary w-100">Crear Solicitud</button>
    </form>
</div>
{% endblock %}

